.grid-sizer,
.grid-item {
    width: 25%;
}

.mainMenu {
    position: fixed !important;
    right: 15px;
    bottom: 15px;
    z-index: 3999;
}

.side-nav a,
.side-nav li>a {
    color: #fff;
    cursor: pointer;
}

.side-nav span.badge {
    margin-top: 0;
}

.orders {
    color: #333;
}
.orders .fixed-action-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}

.side-nav .orders .fixed-action-btn li>a>i {
    margin: 0;
    width: 100%;
}

.tooltipped[disabled],
.tooltipped[disabled]:hover {
    pointer-events: all;
}
.tooltipped[disabled]:active {
    pointer-events: none;
}