.grid-sizer,
.grid-item {
    width: 33.3333333333%;
}

user-panel {
    height: 100vh;
    position: fixed;
}

@media (max-width: 768px) {
    .grid-sizer,
    .grid-item {
        width: 50%;
    }
}