<div class="container">
	
	<div class="left_block">
		<h5><u>Список заказанных блюд</u></h5>
		<div class="col s12 m7" data-ng-repeat="order in pending">
			<div class="card horizontal">
				<div class="card-stacked">
					<div class="card-content">
						<p>{{order.meal.title}}</p>
					</div>
					<div class="card-action">
						<button class="right-align waves-effect waves-light btn cookpage__list-button" data-ng-click="start(order, $index)">Начать готовить</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="right_block">
		<h5><u>Список готовящихся блюд</u></h5>
		<div class="col s12 m7" data-ng-repeat="order in processed">
			<div class="card horizontal">
				<div class="card-stacked">
					<div class="card-content">
						<p>{{order.meal.title}}</p>
					</div>
					<div class="card-action">
						<button class="right-align waves-effect waves-light btn cookpage__list-button" data-ng-click="finish(order, $index)">Готово</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
